<header class="article-header">
    <section class="<%= class_name %>">
        <% if (item.link) { %>
        <a href="<%- url_for(item.link) %>" target="_blank">
            <%= item.title %>
        </a>
        <% } else if (item.title) { %>
        <a href="<%- url_for(item.path) %>">
            <%= item.title %>
        </a>
        <% } %>
    </section>
</header>