<header class="article-header">
    <span class="article-date <%= class_name %>">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <% if (item.link) { %>
        <a href="<%- url_for(item.link) %>">
            <time datetime="<%= date_xml(item.date) %>"><%= date(item.date) %></time>
        </a>
        <% } else if (item.title) { %>
        <a href="<%- url_for(item.path) %>">
            <time datetime="<%= date_xml(item.date) %>"><%= date(item.date) %></time>
        </a>
        <% } %>
    </span>
    <section class="article-title <%= class_name %>">
        <% if (item.link) { %>
        <a href="<%- url_for(item.link) %>" target="_blank">
            <%= item.title %>
        </a>
        <% } else if (item.title) { %>
        <a href="<%- url_for(item.path) %>">
            <%= item.title %>
        </a>
        <% } %>
    </section>
    <%- include('tag') %>
</header>