<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%
        let page_title = page.title;
        
        if (is_archive()) {
            page_title = 'Archives';
        
            if (is_month()) {
                page_title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                page_title += ': ' + page.year;
            }
        } else if (is_category()) {
            page_title = 'Category: ' + page.category;
        } else if (is_tag()) {
            page_title = 'Tag: ' + page.tag;
        }
    %>
    <title> <% if (page_title) { %> <%= page_title %>&nbsp;|&nbsp;<% } %> <%= config.title %> </title>

    <% if (theme.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.favicon) %>"> <!-- 标题栏图标 -->
        <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">    <!-- 收藏夹图标 -->
    <% } %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
    <!--网页加载进度条-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous"></script>
    
    <!--不蒜子网页计数器-->
    <% if (theme.visit_counter) { %>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <% } %>

    <!--gitalk评论系统-->
    <% if (theme.gitalk.on) { %>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gitalk/1.4.1/gitalk.min.css" integrity="sha256-5MJj8IfwScTpk3YXO1VPUpk7u3txgZVw7ekAZdHB4Ks=" crossorigin="anonymous" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/gitalk/1.4.1/gitalk.min.js" integrity="sha256-qHkbkGiVGI9wotF374DSGYPPERWwTAxDwXoKCNoZHPk=" crossorigin="anonymous"></script>
    <% } %> 

    <%- css("css/style") %> 

    <% if (theme.cursor.on) { %>
        <%- include('_widget/cursor') %>
    <% } %>
    
    <% if (theme.baidushare.on) { %>
        <script>
            const bdshareURL = "<%= url_for(theme.baidushare.path) %>";
        </script>
    <% } %>
</head>
<body>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/ie9.css">
        <div class="alert alert-danger topframe" role="alert">
            嘿，朋友！您的浏览器已<strong>过期</strong>，不建议继续食用。
            <a target="_blank" class="alert-link" href="http://browsehappy.com">这里</a> 有些新玩意儿，何不试试？
        </div>
    <![endif]-->
    <header id="header">
        <nav id="navbar" class="navbar navbar-expand-md">
            <div class="container">
                <h1 id="site-title">
                    <a href="<%- url_for() %>" class="navbar-brand">
                        <img src="<%- url_for(theme.favicon) %>">
                        <span><%= config.title %></span>
                    </a>
                </h1>
                <!-- <a id="avatar" class="navbar-brand" href="<%- config.root %>" title="Hi Mate">
                    <img src="<%- url_for(theme.avatar) %>">
                    <span class="author"><%= config.author %></span>
                </a> -->
    
                <button id="navbar-toggler--btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span><i class="fa fa-list-ul" aria-hidden="true"></i></span>
                </button>
    
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <% theme.menu.forEach(function(m) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%- url_for(m.url) %>" title="<%- m.intro %>">
                                <i class="<%- m.icon %>"></i>
                                <%= m.title %>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <aside id="left-col" class="col-md-1"></aside>
            <main class="col-md-8 col-sm-12">
                <%- body %>
            </main>
            <div id="site-tool">
                <div class="scroll">
                    <a href="#header"><i class="fa fa-arrow-up"></i></a>
                    <a href="#footer"><i class="fa fa-arrow-down"></i></a>
                </div>
                <div class=""></div>
            </div>
            <aside id="right-col" class="col">
                <div id="sidebar">
                    <header class="author-info div-border">
                        <a href="<%- url_for() %>">
                            <img class="header-avatar" src="<%- url_for(theme.avatar) %>">
                        </a>
                        <h1 class="header-author">
                            <a href="<%- url_for() %>" title="Hi Mate">
                                <%= config.author %>
                            </a>
                        </h1>
                        <p class="header-slogan"><%= theme.slogan %></p>
                        <div class="social-info">
                            <% for (let i in theme.social_info){ %>
                                <a class="social-icon" target="_blank" href="<%- url_for(theme.social_info[i]) %>" title="<%= i %>">
                                    <i class="fa fa-<%= i %>" aria-hidden="true"></i>
                                </a>
                            <% } %>
                        </div>
                    </header>
                    <% if (theme.search.on) { %>
                    <div class="search div-border">
                        <form id="search-form">
                            <!-- 搜索框相关 -->
                            <input type="text" id="local-search--input" name="q" results="0" placeholder=" Search..."
                                autocomplete="off" autocorrect="off" />
                            <i class="fa fa-times" onclick="resetSearch()"></i> <!-- 清空/重置搜索框 -->
                        </form>
                        <div id="local-search--result"></div> <!-- 搜索结果区 -->
                        <p class='no-result'>No results found </p> <!-- 无匹配时显示，注意请在 CSS 中设置默认隐藏 -->
                    </div>
                    <% } %>
                    <% if (theme.TagCanvas.on) { %>
                        <%- include('_widget/tagcloud') %>
                    <% } %>
                    <% if (theme.friends && theme.friends.length != 0) { %>
                        <div class="friends div-border">
                            <% for (let friend in theme.friends) { %>
                                <a target="_blank" class="friends-link" href="<%- url_for(theme.friends[friend]) %>"><%= friend %></a>
                            <% } %>
                        </div>
                    <% } %>
                    <% if (theme.RevolverMaps.on) { %>
                    <div class="revolvermaps div-border">
                        <%- theme.RevolverMaps.code %>
                    </div>
                    <% } %>
                </div>
                <div class='toc-card'>
                    <div class="toc-card--head">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <div id="toc" class="toc-card--content">
                        <strong class="toc-title">文章列表</strong>
                        <%- list_posts({amount: 999}) %>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <footer id="footer" class="text-center">
        <div class="copyright-info">
            &copy; 2017 -
            <%= date(new Date(), 'YYYY') %>
            <a href="<%- url_for() %>">
                <%= config.author || config.title %>
            </a>
        </div>
        <% if (theme.visit_counter) { %>
        <span class="site-visitor">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span>
            &nbsp;|&nbsp;
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span>
            &nbsp;|&nbsp;
            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
            <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span>
        </span>
        <% } %>
        <div class="site-info">
            <a href="http://hexo.io/" target="_blank">
                Hexo
            </a>
            theme
            <a href="https://github.com/cniter/cniter.github.io" target="_blank">
                chi
            </a>
            by
            <a href="https://github.com/cniter" target="_blank">
                <%= theme.author %>
            </a>
        </div>
    </footer>

    <% if (theme.mathjax){ %>
        <%- include('_widget/mathjax') %>
    <% } %>

    <% if (theme.search.on){ %>
        <%- include('_widget/search') %>
    <% } %>

    <script type="module" src="<%- url_for('js/main.js') %>"></script>

    <script>
        $(document).ready(function() {
            $('.toc-card').width($('#right-col').width());  // 使目录栏与右侧栏宽度一致
        });
    </script>
</body>
</html>