<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <% let title = page.title; %>
    <title> <% if (title) { %> <%= title %>&nbsp;|&nbsp;<% } %> <%= config.title %> </title>

    <% if (theme.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.favicon) %>"> <!-- 标题栏图标 -->
        <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">    <!-- 收藏夹图标 -->
    <% } %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous" />

    <%- css("css/style") %> 
    
    <% if (theme.cursor.on) { %>
        <style>
            body {
                cursor: url("<%- url_for(theme.cursor.normal) %>"), auto;
            }

            #navbar-toggler--btn, a, button {
                cursor: url("<%- url_for(theme.cursor.link) %>"), auto;
            }
        </style>
    <% } %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
    
</head>
<body>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/ie9.css">
        <div class="alert alert-danger topframe" role="alert">
            嘿，朋友！您的浏览器已<strong>过期</strong>，不建议继续食用。
            <a target="_blank" class="alert-link" href="http://browsehappy.com">这里</a> 有些新玩意儿，何不试试？
        </div>
    <![endif]-->
    <header id="header">
        <nav class="navbar navbar-expand-md">
            <a id="avatar" class="navbar-brand" href="<%- config.root %>" title="Hi Mate">
                <img src="<%- url_for(theme.avatar) %>">
                <span class="author"><%= config.author %></span>
            </a>
        
            <button id="navbar-toggler--btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span><i class="fa fa-bars"></i></span>
            </button>
        
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <% theme.menu.forEach(function(m) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%- url_for(m.url) %>" title="<%- m.intro %>">
                            <i class="<%- m.icon %>"></i>
                            <%= m.title %>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </nav>
    </header>

    <div id="container" class="container">
        <div class="row">
            <aside id="left-col" class="col-md-1"></aside>
            <main class="col-md-8 main-content">
                <%- body %>
            </main>
            <aside id="right-col" class="col"></aside>
        </div>
    </div>

    <footer></footer>

    <% if (theme.mathjax){ %>
        <%- include('_widget/mathjax') %>
    <% } %>

</body>
</html>