<%
    let page_title = page.title;
    
    if (is_archive()) {
        page_title = 'Archives';
        
        if (is_month()) {
            page_title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            page_title += ': ' + page.year;
        }
    } else if (is_category()) {
        page_title = 'Category: ' + page.category;
    } else if (is_tag()) {
        page_title = 'Tag: ' + page.tag;
    }
%>

<div class="page-header">
    <h1 class="page-title">
        <i class="fa fa-tags"></i>
        <%= page_title %>
    </h1>
</div>

<div class="page-container">
    <% if (page.category || page.tag) { %>
        <%- include('_partial/archive') %>
    <% } else if (site.tags.length) { %>
    <div class="tag-title">
        <ul>
            <% site.tags.sort('name').each(function(item) { %>
            <li>
                <a href="#<%= item.name %>">
                    <%= item.name %>
                    <sup>
                        <%= item.posts.length %>
                    </sup>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <div class="item-detail">
        <% site.tags.sort('name').each(function(item) { %>
        <h2 id="<%= item.name %>" class="item-name" data-toggle="collapse" data-target="#modal-<%= item.name.replace(/\.|#|\s|\//g, '-') %>">
            <%= item.name %> 
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h2>
        <ul id="modal-<%= item.name.replace(/\.|#|\s|\//g, '-') %>" class="collapse show">
            <% site.posts.sort('date', -1).forEach(function(it) { %>
            <% if (it.tags.length >= 1) { %>
            <% it.tags.forEach(function(tag) { %>
            <% if (tag._id == item._id) { %>
            <li>
                <span class="date-class"> <%= it.date.format("YYYY-MM-DD") %> </span> &raquo;
                <a href="<%= url_for(it.path) %>" <% if (it.description) { %>
                    title="
                    <%= it.description %>"
                    <% } %> >
                    <%= it.title %>
                </a>
            </li>
            <% } %>
            <% }); %>
            <% } %>
            <% }); %>
        </ul>
        <% }); %>
    </div>
    <% } %>
</div>