<article id="<%= item.layout %>-<%= item.slug.replace(/\.|#|\s/g, '-') %>" class="article div-border">

<% if (item.link || item.title) { %>
    <% if (is_post) { %>    <!-- 如果是发表的文章 -->
        <%- include('post/title', {class_name: 'article-title--post'}) %>
    <% } else { %>
        <%- include('post/title', {class_name: 'article-title--index'}) %>
    <% } %>
<% } %>

<section class="article-content">
<% if (is_post) { %>
    <!-- 显示文章内容 -->
    <%- item.content %>
<% } else { %>
    <div class="article-content--excerpt">
    <% if (item.description) { %>
        <!-- 显示文章描述，及文章开头的配置 -->
        <%- item.description %>
    <% } else if (item.excerpt) { %>
        <!-- 显示文章摘要，即more标签之前的内容 -->
        <%- item.excerpt %>
    <% } else {%>
        <!-- 显示文章内容 -->
        <%- item.content %>
    <% } %>
    </div>
    <% if (theme.enable_show_all) { %>
        <div class="article-content--all">
            <%- item.content %>
        </div>
        <div class="article-content-more">
            <button type="button" class="article-more--link">
                <i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
            </button>
        </div>
    <% } %>
<% } %>
</section>

</article>

<% if (is_post) { %>
    <%- include('post/copyright') %>
<% } %>

<% if (is_post) { %>
    <%- include('post/article-nav') %>
<% } %>

<% if (is_post && theme.baidushare.on) { %>
    <%- include('post/baidushare') %>
<% } %>

<% if (is_post && item.comments) { %>
    <%- include('post/comments') %>
<% } %>

<% if (is_post && item.toc != false){ %>
    <%- include('post/toc') %>
<% } %>